html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.info,
.warn,
.error {
  color: black;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info {  
  background-color: lightgreen;
}
.warn {
  background-color: yellow;
}
.error {
  background-color: red;
}

* {
  box-sizing: border-box;
}

#totals {
   margin-left: 72%;
   margin-top: -4%;
   width: 33%;
   padding: 5px 0px 6px 49px;
}

#search {
  background-image: url('../img/search.png');
  background-position: 10px 8px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 19px;
}

.duck {
  background-image: url('../img/duck.png');
}

#table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#table th, #table td {
  text-align: left;
  padding: 12px;
}

#table tr {
  border-bottom: 1px solid #ddd;
}

#table tr.header, #table tr:hover {
  background-color: #f1f1f1;
}
