<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Appium log reader</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="http://cdn.intercoolerjs.org/intercooler-1.2.1.min.js"></script>
    <script src="js/tableExport.min.js"></script>
    <script src="js/mustache.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    
    <!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  	<![endif]-->
   <script src="js/main.js"></script>
</head>

<body>
    <div class="demo-container">
        <div class="tab-content">
            <div class="container">
                <div class="text-center">
                    <img src="img/appium.png" class="rounded" alt="Appium">
                </div>
                <hr>
                <input type="text" id="search" onkeyup="filter()" placeholder="Search">
                <button id="bottom" type="button" class="btn btn-primary">Bottom</button>
                <a id="clear" type="button" onclick="clear();"  href="javascript://" class="btn btn-info">Clear</a>	  	
                <div class="btn-group dropup">
			        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export to <span class="caret"></span></button>
			        <ul class="dropdown-menu" role="menu">
			          <li><a onclick="exportAll('csv');" href="javascript://">CSV</a></li>
			          <li><a onclick="exportAll('txt');" href="javascript://">TXT</a></li>
			          <li><a onclick="exportAll('xls');" href="javascript://">XLS</a></li>
			          <li><a onclick="exportAll('sql');" href="javascript://">SQL</a></li>
			          <li><a onclick="exportAll('json');" href="javascript://">JSON</a></li>
			        </ul>
			      </div>
			    <button id="info" type="button" class="btn btn-success btn-lg disabled" ic-src="{{service}}/api/v1/logs/total/info" ic-poll="2s">info: 0</button>
                <button id="error" type="button" class="btn btn-warning btn-lg disabled" ic-src="{{service}}/api/v1/logs/total/warn" ic-poll="2s">warn: 0</button>
                <button id="warn" type="button" class="btn btn-danger btn-lg disabled" ic-src="{{service}}/api/v1/logs/total/error" ic-poll="2s">error: 0</button>
	              <hr>
            </div>
           <div class="table-responsive">
            <table id="table" class="table" data-filter="#filter" id="table" ic-append-from="{{service}}/api/v1/logs/last/html" ic-poll="100ms">
                <thead>
                    <tr>
                        <th>
                            Message
                        </th>
                        <th data-toggle="true">
                            Status
                        </th>
                    </tr>
                </thead>
				<tbody>
				</tbody>
            </table>
		  </div>
            <div class="container">
                <hr>
                <button id="top" type="button" class="btn btn-primary">Top</button>
            </div>
        </div>
    </div>
    
<script>
$("#clear").on("click", function() {
     $("#table").find("tr:gt(0)").remove();
     $("#info").html("info: 0");
     $("#warn").html("warn: 0");
     $("#error").html("error: 0");
});

$('#top').on("click", function() {
    $('html,body').animate({
        scrollTop: 0
    }, 'slow', function() {});
});

$('#bottom').on("click", function() {
    var window_height = $(window).height();
    var document_height = $(document).height();
    $('html,body').animate({
        scrollTop: window_height + document_height
    }, 'slow', function() {});
});
</script>
</body>
</html>